<!DOCTYPE html>
<html th:fragment="layout(content)" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title} ?: 'S-RIM'">S-RIM</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
    <header class="topbar">
        <div class="topbar__inner">
            <a class="brand" th:href="@{/}">SRIM</a>

            <nav class="nav">
                <a class="nav__link" th:href="@{/}">홈</a>
                <a class="nav__link" th:href="@{/stocks}">종목 목록</a>
                <a class="nav__link" th:href="@{/bond-yields}">회사채 수익률</a>
            </nav>
        </div>
    </header>

    <main>
        <th:block th:replace="${content}"></th:block>
    </main>


    <footer>
        <small>© S-RIM</small>
    </footer>

    <script type="module" th:src="@{/js/app/main.js}"></script>
</body>
</html>